.bg-red-pianophiles {
    background-color: #ff313c;
  }

  .floating-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #ff313c;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .floating-button:hover {
    transform: scale(1.05);
  }
  
  .message {
    position: absolute;
    top: -40px;
    right: 0;
    transform: translate(-170%, -100%);
    background-color: #343a40;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
  }
  
  .floating-button:hover .message {
    opacity: 1;
  }
  
  .plus-icon {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .plus-icon::before,
  .plus-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
    transform: translateY(-50%);
  }

  
  .plus-icon::before {
    transform: translateY(-50%) rotate(90deg);
  }

  .floating-button .message {
    left: -200px;
  }

  .form-group {
    margin-bottom: 80px; /* Increased vertical margin */
    text-align: center;
  }
  
  
  input[type="text"],
  input[type="file"],
  textarea {
    width: 80%; /* Adjusted width to be less than full viewport */
    margin: 0 auto; /* Center-align form fields */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .errorlist {
    color: #ff313c;
    list-style: none;
    padding: 0;
  }

  .file-size-warning {
    color: #ff313c;
    margin-top: 5px;
  }

  input[type="submit"] {
    background-color: #ff313c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: 
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .profile-picture {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
  }
  
  .card-video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  body {
    text-align: center;
    background-color: #f8f9fa;
  }

  h1 {
    font-size: 36px;
    margin-top: 40px;
    color: #ff313c;
  }

  p {
    font-size: 18px;
    color: #ff313c;
  }

  video {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }

  h2 {
    font-size: 24px;
    margin-top: 40px;
    color: #ff313c;
  }

  h4 {
    font-size: 18px;
    margin-top: 20px;
    color: #ff313c;
  }

  form {
    margin-top: 20px;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    max-width: 600px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
  }

  .form-group button {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #ff313c;
    color: #fff;
    border: none;
    border-radius: 5px;
  }

  .comments-container {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
  }
  
  .comments-heading {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
  }
  
  .comments {
    background-color: #ff313c;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .comment {
    color: white;
  }
  
  .comment-author {
    font-weight: bold;
  }
  
  .comment-metadata {
    color: white;
  }

  
  .comment-content {
    color: white;
  }

  .comment > p {
    color: white;
  }

  p.author {
    text-align: left;
  }

  div.form-group {
    margin-bottom: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    }
    
    h1 {
    color: #333;
    }
    
    h2 {
    color: #666;
    }
    
    ul {
    list-style-type: none;
    padding: 0;
    }
    
    li {
    margin-bottom: 10px;
    }
    
    .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    } 
    
    p,
    a {
    color: #777;
    }
    
    .card {
    margin-bottom: 20px;
    }
    
    .btn-red {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    }
    
    .btn-red:hover {
    background-color: #c82333;
    border-color: #bd2130;
    }