{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="error-text text-center">
          <h1>Oops - Error 404 - Looks Like We Played a Few Wrong Notes</h1>
          <p>The page you are looking for does not exist. It might have been removed, had its name changed, or is temporarily unavailable.</p>
          <a href="{% url 'home' %}" class="btn btn-primary">Click here to get back home.</a>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="https://res.cloudinary.com/dayngkoud/image/upload/v1693135126/Keyboard_cat_ouvbg1.jpg" class="img-fluid">
      </div>
    </div>
  </div>
{% endblock content %}