{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Create an Image Post</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group text-danger">
              <h4>Title:</h4>
              <input type="text" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" class="form-control">
              {% if form.title.errors %}
                <div class="text-danger">
                  {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="form-group text-danger">
              <h4>Image:</h4>
              <input type="file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}" class="form-control-file">
              {% if form.image.errors %}
                <div class="text-danger">
                  {% for error in form.image.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="text-center">
              <button class="btn btn-danger" type="submit">Create Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
