<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
<head>
    
    <title>{{ post.title }}</title>
</head>

{% block content %}
{% load crispy_forms_tags %}
<body>
    <h1>{{ post.title }}</h1>
    <p>Author: {{ post.author }}</p>
    <p>Created on: {{ post.created_on }}</p>

    {% if post.imagepost %}
        <img src="{{ post.imagepost.image.url }}" alt="Image Post">
    {% endif %}

    {% if post.videopost %}
        <video controls>
            <source src="{{ post.videopost.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {% endif %}

    <p>{{ post.content }}</p>

    <h2>Comments</h2>
    {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
    {% else %}
    {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
    {% endif %}           
    {% endif %}
    <ul>
        {% for comment in post_comments %}
            <li>
                {% if comment.textpostcomment %}
                    <p>{{ comment.textpostcomment.content }}</p>
                {% elif comment.imagepostcomment %}
                    <img src="{{ comment.imagepostcomment.image.url }}" alt="Image Comment">
                {% elif comment.videopostcomment %}
                    <video controls>
                        <source src="{{ comment.videopostcomment.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                <p>Author: {{ comment.author }}</p>
                <p>Created on: {{ comment.created_on }}</p>
            </li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>

   
</body>
{% endblock content %}
</html>
