{% extends 'base.html' %}
{% block content %}
<!-- profile_template.html -->


<title>{{ user.username }}'s Profile</title>




<div class="container">
    <h1>{{ user.username }}'s Profile</h1>

    <!-- Display user's profile picture, bio, and date of joining -->
    <div class="row mb-4">
        <div class="col-md-3">
            <img src="{{ profile.profile_photo.url }}" alt="Profile Photo" class="img-fluid profile-image">
        </div>
        <div class="col-md-9">
            <p class="lead">Bio: {{ profile.bio }}</p>
            <p class="text-muted">Date of Joining: {{ profile.created_on }}</p>
        </div>
    </div>


    <h2>Recent Posts:</h2>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    {% if user.is_authenticated and own_profile and post.author == user %}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteConfirmationModal{{ post.id }}">
                        Delete Post?
                    </button>
                    {% endif %}

                    <!-- Delete Confirmation Modal -->
                    <div class="modal fade" id="deleteConfirmationModal{{ post.id }}" tabindex="-1"
                        aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Confirmation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this post?</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'delete_post' pk=post.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p>No posts found.</p>
        </div>
        {% endfor %}
    </div>

    <!-- Button to display all user's posts -->
    <a href="{% url 'user-posts' user.username %}" class="btn btn-primary">View All Posts</a>

    <!-- Display user's comments -->
    <h2>Comments:</h2>
    <div class="row">
        {% for comment in comments %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'post_detail' slug=comment.post.slug %}">
                            {{ comment.author.username }} commented on {{ comment.post.title }}
                        </a>
                    </h5>
                    <p class="card-text">{{ comment.content }}</p>
                    {% if own_profile and comment.author == request.user %}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteCommentConfirmation{{ comment.id }}">
                        Delete Comment?
                    </button>
                    {% endif %}
                    <!-- Delete Comment Modal -->
                    <div class="modal fade" id="deleteCommentConfirmation{{ comment.id }}" tabindex="-1"
                        aria-labelledby="deleteCommentConfirmationLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteCommentConfirmationLabel">Delete Confirmation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this comment?</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'delete_comment' pk=comment.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p>No comments found.</p>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}
