
<h1>{{ user.username }}'s Profile</h1>

<!-- Display user's profile picture, bio, and date of joining -->
<img src="{{ profile.profile_photo.url }}" alt="Profile Photo">
<p>Bio: {{ profile.bio }}</p>
<p>Date of Joining: {{ profile.created_on }}</p>


<h2>Posts:</h2>
<ul>
  {% for post in user.posts.all %}
    <li>{{ post.title }}</li>
  {% empty %}
    <li>No posts found.</li>
  {% endfor %}
</ul>

<!-- Display user's comments -->
<h2>Comments:</h2>
<ul>
  {% for comment in comments %}
    <li>{{ comment.content }}</li>
  {% empty %}
    <li>No comments found.</li>
  {% endfor %}
</ul>
